<div id="paper"></div>
<div>
  This is a little demo of a simple linked list editor.  Drag the 4 nodes around.  Click the small box to the right of each node.  Then click the small box on the left to connect them.
</div>
